.MenuContainer {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  align-items: flex-end;
}

.MenuLine {
  background-color: #000;
  width: 30px;
  height: 1.5px;
  margin-bottom: 3px;
}

.MenuLineCenter {
  background-color: #000;
  width: 30px;
  height: 1.5px;
  margin-bottom: 3px;
}
.Menu {
  position: absolute;
  visibility: hidden;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  opacity: 0;
}
.MenuItem {
  text-align: right;
  font-size: 14px;
  margin-top: 10px;
}
