.FooterContainer {
  width: 80vw;
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 10vw;
  right: 10vw;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 10px;
  font-size: 12px;
}
